<h1>Hi, Welcome to my Website!</h1>
<section id="about" class="section about">
    <h2>About me</h2>
    <article>
        <div class="myPhoto">
            <img src="./assets/images/profile-picture.jpg" alt="my-profile-picture">
        </div>
        <div class="description">
            <p>
                Hi again! My name is Andres Liu, and I am a Full-stack Web Developer. 
                I have a diverse set of skills, such as HTML, CSS, Javascript, React, 
                Angular and NodeJS, and some iOS developing too using Xcode and Swift.
                I'm proactive, self-taught and a quick learner and have the key soft skills 
                needed to succeed: great communication, excellent teamwork and an outstanding leadership.
            </p>
        </div>
    </article>
</section>
<section id="work" class="section work">
    <h2>My Work</h2>
    <article id="work-repos">
        {{#each repos as |repo|}}
        <div class="project">
            <header>
                <a href="{{repo.url_github}}" target="_blank">{{repo.name}}</a>
            </header>
            <a href="{{repo.url_deploy_link}}" target="_blank">
                <div class="image-div">
                    <img src="{{repo.url_image}}" alt="{{repo.url_name}}">
                </div>
            </a>
        </div>
        {{/each}}
    </article>
</section>
<section id="skills" class="section skills">
    <h2>Skills</h2>
    <article id="work-skills">
        {{#each skills as |skill|}}
        <div class="skill">
            <img src="{{skill.url_image}}" alt="{{skill.name}}">
        </div>
        {{/each}}
    </article>
</section>
<section id="contact" class="section contact">
    <h2>Contact me</h2>
    <article>
        <a href="https://www.linkedin.com/in/andresliu22" target="_blank">
            <div class="contact-div">
                <img src="./assets/images/linkedin-logo.png" alt="linkedin-logo">
            </div>
        </a>
        <a href="https://github.com/andresliu22" target="_blank">
            <div class="contact-div">
                <img src="./assets/images/github-logo.png" alt="github-logo">
            </div>
        </a>
        <a href="mailto:andres.liu22@gmail.com?subject=Mail from Website" target="_blank">
            <div class="contact-div">
                <img src="./assets/images/mail-logo.png" alt="mail-logo">
            </div>
        </a> 
        <a href="./resume/resume_andresliu.pdf" target="_blank">
            <div class="contact-div">
                <img src="./assets/images/cv-logo.png" alt="cv-logo">
            </div>
        </a>
    </article>
</section>
